html {
    /* background-color: rgb(37, 36, 36); */
    background-color: rgb(75, 75, 75);
}
body {
    height:90%;
    width:90vw;
    margin: auto;
    font-family:'Times New Roman';
    background-color: #04a2ec00;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-top:10pt;


}
div.logo {
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    height:90%;
    width:90vw;
    margin: auto;
    background-color: rgb(75, 75, 75);
}
img.logo_image {
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin:auto;
    height:100%;
    width:100%;
    object-fit:contain;
    border-radius:2pt;

}

nav {
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* box-shadow: 0 0 2px 2px rgb(37,36,36) inset; */

    margin:auto;
    display:flex;
    background-image: linear-gradient(#313131, #4d4d4d);
    width:90vw;
    padding-bottom:1.5pt;
    padding-top:1.5pt;
    margin-top: 5pt;
    margin-bottom:5pt;
    
}
nav ul {
    margin: auto;
    padding: 0;
    position: relative;
}

nav ul li {
    display: inline-block;
    padding-left:10pt;
    padding-right:10pt;
  
}
nav ul li a {
    color: white;
    padding-left:5pt;
    padding-right:5pt;
    padding-top:1.5pt;
    padding-bottom:1.5pt;
    font-size: 3vw;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
    border-style:solid;
    border-color:black;/* #44ccb0;*/
    background-color: #04a4ec;
    border-radius: 5pt;
}


div#content {
    width:77%;
    margin:0;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#container {
    font-size:2vw;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 233, 233);
    margin-bottom:5pt;
    border-radius:2pt;
}


img {
    max-width: 100%;
}

#image {
    width:fit-content;
    padding-right: 15pt;
    padding-left:15pt;
    margin-top: 15pt;
    margin-bottom: 15pt;
}

#paragraph {
    padding-left: 15pt;
}

#paragraph p {
    line-height: 2vw;
}

.mainpage {
    font-size:2vw;
    display: flex;
    background-image: linear-gradient(#4d4d4d, #313131);

}

div.sidebar {
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-left:5pt;
    padding-left:5pt;
    width:23%;
    background-color: rgb(183, 172, 172);
    border-radius:2pt;
}