html {
    background-color: #4b4652;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.body {
    border: 5px solid black;
    height: 100vh;
    width: 85%;
    background-image: url(../homepage/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    border-color: #272726;
    background-color: #ffffff;
    
}

nav {
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20%;
    
}
nav ul {
    margin: auto;
    white-space: nowrap;
    
}
nav ul li {
    
    margin-left: 10px;
    margin-right: 10px;
    list-style-type:none;
    display: inline-block;
    padding: 8px 15px;
    font-size: clamp(0px, 2vw, 30px);
    background-color:#FF9912;
    border-style:outset;
    border-radius: 15px 25px 15px;
    border-color:#9388A1;
}

.aboutme {
   
    margin: 15px;
    padding: 10px;
    
    
}
